@import "../../../../styles/index.scss";

.carousel-home {
  background-color: $secondary-color;
  overflow: hidden;

  .carousel-item {
    padding: 60px 120px;

    @media screen and (max-width: 1300px) {
      padding: 48px 80px;
    }

    @media screen and (max-width: 959px) {
      padding: 48px;
    }

    @media screen and (max-width: 500px) {
      padding: 24px;
    }

    .item-img {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 16px 0;

      img {
        display: block;
        max-width: 100%;
      }
    }

    .item-desc {
      margin: 16px 0;

      p {
        color: $white;
        font-size: 1.5em;

        @media screen and (max-width: 1300px) {
          font-size: 1.3em;
        }

        @media screen and (max-width: 959px) {
          font-size: 1em;
        }
      }
    }
  }

  .arrow {
    z-index: 999;
    position: absolute;
    top: calc(50% - 28px);
    transition: 0.2s;

    @media screen and (max-width: 500px) {
      top: 20%;
    }

    &.arrow-left {
      left: 32px;

      @media screen and (max-width: 959px) {
        left: 16px;
      }
    }

    &.arrow-right {
      right: 32px;

      @media screen and (max-width: 959px) {
        right: 16px;
      }
    }
  }

  // &:not(:hover) {
  //   .arrow {
  //     &.arrow-left {
  //       left: -48px;
  //     }

  //     &.arrow-right {
  //       right: -48px;
  //     }
  //   }
  // }
}
