@import "../../../../styles/index.scss";

.betis-teaser {
  background-image: url("../../../../assets/bg-teaser.svg");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 64px 200px;

  @media screen and (max-width: 1024px) {
    padding: 32px 64px;
  }

  @media screen and (max-width: 700px) {
    padding: 16px 32px;
  }

  h2 {
    color: $white;
    margin-bottom: 32px;

    @media screen and (max-width: 700px) {
      font-size: 2em;
      margin-bottom: 16px;
    }
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
