@import "../../styles/index.scss";

.tentang-page {
  padding: 0 128px;
  background-image: url("../../assets/bg-tentang.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;

  @media screen and (max-width: 1400px) {
    padding: 0 64px;
  }

  @media screen and (max-width: 959px) {
    padding: 0 32px;
  }

  @media screen and (max-width: 500px) {
    padding: 0 16px;
  }
}
