.logo-section {
  .home-bg {
    overflow: hidden;

    img {
      max-width: 100%;
      display: block;

      @media screen and (max-width: 959px) {
        min-width: calc(100% + 12px);
        height: auto;
      }

      @media screen and (max-width: 599px) {
        max-width: none;
        min-width: none;
        width: 150%;
        margin-top: -60%;
      }
    }
  }

  .main-logo {
    text-align: center;

    img {
      max-width: 60%;
      height: auto;
    }

    h4 {
      margin: 12px 0 20px;
    }

    @media screen and (max-width: 959px) {
      margin-top: -100% !important;
    }
  }
}
