$primary-color: #d9ebf7;
$secondary-color: #3762ad;
$black: #000000;
$white: #ffffff;

#container {
  margin-top: 64px;
  min-width: 100%;

  @media screen and (max-width: 599px) {
    margin-top: 48px;
  }
}

a {
  text-decoration: none;
}
