@import "../../styles/index.scss";

.betis-navbar {
  box-shadow: none !important;

  &.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) !important;
  }

  a {
    color: $black;
  }

  .navbar-link {
    margin: 8px;

    @media screen and (max-width: 599px) {
      display: none;
    }
  }

  .logo {
    max-height: 40px;
    width: auto;
    margin-right: 20px;

    @media screen and (max-width: 599px) {
      max-height: 32px;
      margin-right: 8px;
    }
  }

  .betis-menu {
    display: none !important;

    @media screen and (max-width: 599px) {
      display: block !important;
    }
  }
}

.betis-drawer {
  background: $primary-color;
  height: 100vh;
}
