@import "../../styles/index.scss";

.betis-footer {
  background: $primary-color;
  padding: 64px 200px 32px;

  @media screen and (max-width: 1024px) {
    padding: 32px 64px;
  }

  @media screen and (max-width: 700px) {
    padding: 16px 32px;
  }

  .wrapper {
    @media screen and (max-width: 959px) {
      flex-direction: column-reverse !important;
    }

    .footer-info {
      margin: 16px 0;

      h4 {
        @media screen and (max-width: 700px) {
          font-size: 1.5em;
        }
      }
    }

    .footer-sponsor {
      text-align: center;
      margin: 16px 0;

      img {
        max-width: 100%;
      }
    }
  }

  .copyright {
    margin-top: 32px;

    @media screen and (max-width: 700px) {
      font-size: 1em;
      margin-top: 16px;
    }
  }
}
