@import "../../../../styles/index.scss";

.tentang-section {
  padding: 128px 0;
  min-height: 700px;

  @media screen and (max-width: 1400px) {
    padding: 64px 0;
    min-height: 600px;
  }

  @media screen and (max-width: 959px) {
    padding: 32px 0;
  }

  @media screen and (max-width: 500px) {
    padding: 32px 0;
  }

  .tab-button {
    font-size: 1.2em;

    @media screen and (max-width: 500px) {
      font-size: 1em;
    }
  }

  .tentang-content {
    margin-top: 32px;

    @media screen and (max-width: 500px) {
      margin-top: 16px;
    }

    .tentang-img {
      text-align: center;
      margin: 16px 0;

      @media screen and (max-width: 500px) {
        margin: 8px 0;
      }

      img {
        max-width: 100%;
      }
    }

    .tentang-desc {
      margin: 16px 0;

      @media screen and (max-width: 500px) {
        margin: 8px 0;
      }

      p {
        font-size: 1.5em;
        background: $white;
        padding: 64px;
        border-radius: 64px;
        max-width: 70%;
        display: block;
        margin: 0 auto;
        border: 1px solid $secondary-color;

        @media screen and (max-width: 1400px) {
          padding: 48px;
          font-size: 1.3em;
          max-width: 80%;
          border-radius: 48px;
        }

        @media screen and (max-width: 959px) {
          padding: 32px;
          font-size: 1.1em;
          max-width: 100%;
          border-radius: 32px;
        }

        @media screen and (max-width: 500px) {
          padding: 16px;
          font-size: 1em;
          border-radius: 16px;
        }
      }
    }
  }
}
