@import "../../styles/index.scss";

.coming-soon {
  background: $primary-color;
  text-align: center;
  padding: 64px;

  @media screen and (max-width: 700px) {
    padding: 32px;
  }

  img {
    max-width: 100%;
  }

  h1 {
    @media screen and (max-width: 700px) {
      font-size: 3em;
    }
  }
}
