@import "../../styles/index.scss";

.pendaftaran-peserta {
  background: $secondary-color;
  text-align: center;
  padding: 64px;

  @media screen and (max-width: 800px) {
    padding: 32px;

    .betis-countdown {
      margin-bottom: 16px;
    }

    h1 {
      font-size: 4em;
    }

    h5 {
      font-size: 1em;
    }
  }

  @media screen and (max-width: 490px) {
    padding: 16px;

    h1 {
      font-size: 1.7em;
    }

    h5 {
      font-size: 0.7em;
    }
  }

  h2 {
    margin-bottom: 64px;
    color: $white;

    @media screen and (max-width: 800px) {
      margin-bottom: 32px;
      font-size: 2.5em;
    }

    @media screen and (max-width: 490px) {
      margin-bottom: 16px;
      font-size: 2em;
    }
  }

  .form-pendaftaran {
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    & iframe,
    & object,
    & embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
